body {
	background: rgb(229, 230, 231);
	font: normal, 15pt, Arial;
}

header {
	color: black;
	text-align: center;

}

section {
	background-color: rgb(126, 224, 241);
	border-radius: 10PX;
	padding: 15PX;
	width: 500PX;
	margin: auto;
	box-shadow: 5PX 5PX 10PX rgba(0, 0, 0, 0.5);

	div {
		text-align: center;
		padding: 5px;

	}

	div.res {}

}

footer {
	color: black;
	text-align: center;
	font-style: italic;
}